{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">О ФинТоп
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>О нас</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Доставка и возврат товара
                </strong>
                <p class="media-text">Доставка по всему миру
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Возврат денег
                </strong>
                <p class="media-text">Гарантированные платежи
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Политика поддержки
                </strong>
                <p class="media-text">Быстрая команда поддержки
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'frontend/assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Гарантия качества
                </strong>
                <p class="media-text">Товары с наилучшей гарантией
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Подписывайтесь на нас в соц.сетях
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="Footer-payments Footer-payments_column">
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/fb.png' %}" alt="fb.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/tw.png' %}" alt="tw.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/gg.png' %}" alt="gg.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/in.png' %}" alt="in.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/pt.png' %}" alt="pt.png"/></div>
                <div><img src="{% static 'frontend/assets/img/icons/socialContent/ml.png' %}" alt="ml.png"/></div>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <article class="Article">
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <h2>Почему вы выбрали именно ФинТоп?
                  </h2>
                  <p>Слово "Топ" в названии может вызывать ассоциации с высококачественными товарами и услугами. Это создает у клиентов впечатление, что ваш магазин предлагает только лучшие запчасти и оборудование. В условиях конкурентного рынка, где качество играет ключевую роль, такое название может выделить ваш бизнес среди других.
                  </p>
                  <p>Краткие названия легче запоминаются. "ФинТоп" состоит всего из двух слогов, что делает его простым для восприятия и запоминания. Это особенно важно в интернет-пространстве, где пользователи могут быстро забыть длинные и сложные названия. Легкость запоминания способствует тому, что клиенты будут возвращаться именно к вашему магазину.
                  </p>
                  <div><a class="btn btn_primary" href="#">Приступить</a>
                  </div>
                </div>
                <div class="row-block">
                  <div class="pict"><img src="{% static 'frontend/assets/img/content/home/slider.png' %}" alt="slider.png"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="Article-section">
              <div class="row row_verticalCenter row_maxHalf">
                <div class="row-block">
                  <div class="pict"><img src="{% static 'frontend/assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/>
                  </div>
                </div>
                <div class="row-block">
                  <h2>ФинТоп История магазина
                  </h2>
                  <p>Магазин "ФинТоп" был основан в [год основания] в сердце Новосибирска с целью предоставить автомобилистам качественные запчасти и топливную аппаратуру по доступным ценам. Наша история началась с небольшой команды энтузиастов, которые понимали, как важно для владельцев автомобилей иметь надежные и качественные компоненты для своих машин.

                    С первых дней мы стремились создать магазин, который бы сочетал в себе широкий ассортимент товаров и высокий уровень обслуживания. Мы тщательно отбирали поставщиков, чтобы гарантировать, что каждая деталь, представленная в нашем магазине, соответствует самым высоким стандартам качества. Наша команда экспертов всегда готова помочь клиентам с выбором, предоставляя профессиональные консультации и рекомендации.
                    
                    С течением времени "ФинТоп" стал не только местом, где можно купить запчасти, но и настоящим центром для автомобилистов. Мы начали проводить мастер-классы и семинары, делясь знаниями о том, как правильно ухаживать за автомобилем и выбирать необходимые детали. Наша цель – не просто продавать, но и обучать наших клиентов, помогая им принимать обоснованные решения.
                    
                    В [год] мы запустили наш интернет-магазин, что позволило нам расширить географию продаж и сделать качественные запчасти доступными для клиентов по всей стране. Мы внедрили удобную систему онлайн-заказов и доставки, чтобы процесс покупки стал максимально простым и комфортным.
                    
                    Сегодня "ФинТоп" – это не просто магазин, а надежный партнер для всех автомобилистов. Мы гордимся тем, что наши клиенты доверяют нам, и продолжаем работать над тем, чтобы каждый визит в наш магазин был приятным и полезным. Мы стремимся к постоянному развитию, расширяя ассортимент и улучшая качество обслуживания, чтобы соответствовать ожиданиям наших клиентов.
                    
                    Спасибо, что выбираете "ФинТоп"! Мы рады быть частью вашего автомобильного пути.
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}